extends layout

block content
  .container
    .row
      .col-md-12
        .title-box
          h1 Alcoholic
        img(src="/images/wn/Screenshot 2025-08-22 120925.png", alt="Jameson Whiskey", style="width:100%;")
